@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap')
	;

/* 메인페이지에 대한 디자인css입니다 */
* {
	margin: 0;
	padding: 0;
}

#wrapper {
	height: auto;
	min-height: 100%;
	/* padding-bottom: px; */
}

header {
	height: 130px;
	display: flex;
	flex-direction: column;
	margin: 5px;
}


.headerButton {
	display: flex;
	justify-content: flex-end;
}

.mainButton {
	width: 70px;
	height: 25px;
	/* 수정을 요함 */
	font-family: 'Nanum Gothic';
	text-align: center;
	color: white;
	background: black;
	border: solid 2px grey;
	border-radius: 12px;
}

#mypageButton {
	width: 90px;
}

.logo {
	font-family: 'Black Han Sans', sans-serif;
	font-size: 65px;
	text-align: center;
}

.layout {
	width: 100%;
	margin: 0 auto;
}

section {
	display: flex;
	float: right;
	width: 70%;
	height: 90vh;
	text-align: center;
	padding: 0.073% 0 0 0;
	float: right;
}

aside {
	float: right;
	width: 15%;
	height: 90vh;
	background-color: white;
	text-align: center;
}

footer {
	clear: both;
	width: 100%;
	height: 100px;
	background-color: black;
	text-align: center;
}

.footerfont {
	color: aliceblue;
}

div#map {
	width: 60%;
	height: 100%;
}

div#info {
	display: flex;
	flex-wrap: wrap;
	width: 40%;
	justify-content: space-evenly;
	align-content: flex-start;
	/* 일정 이상 글이 생길시 스크롤 생성*/
	overflow: auto;
}

button#shopInfo, button#favoriteInfo {
	width: 49%;
	height: 10%;
	border: solid 2px grey;
	border-radius: 12px;
}

/*가게 정보가 들어갈 구역*/
article {
	width: 99%;
	height: 20%;
	background-color: grey;
	border: solid 2px grey;
	border-radius: 12px;
	/* 여백 주기 */
	margin: 1px
}

/* 스크롤바를 숨김 */
body {
	-ms-overflow-style: none;
}
::-webkit-scrollbar {
	display: none;
}

/* 마우스를 올려놓았을때 색깔이 변함 */
button:hover{
      background-color: grey;
      transition: 0.2s;
}
article:hover{
      background-color: white;
      transition: 0.2s;
}

.clicked{
	 background-color: blue;
}
  
