@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap')
	;

* {
	margin: 0;
	padding: 0;
}
body {
	-ms-overflow-style: none;
}

#wrapper {
	height: auto;
	min-height: 100%;
	/* padding-bottom: px; */
}

header {
	height: 130px;
	display: flex;
	flex-direction: column;
}

.headerButton {
	display: flex;
	justify-content: flex-end;
}

.mainButton {
	width: 70px;
	height: 25px;
	/* 수정을 요함 */
	font-family: 'Nanum Gothic';
	text-align: center;
	color: white;
	background: black;
	border: solid 2px grey;
	border-radius: 12px;
}

#mypageButton {
	width: 90px;
}

.logo {
	font-family: 'Black Han Sans', sans-serif;
	font-size: 65px;
	text-align: center;
}

.layout {
	width: 100%;
	margin: 0 auto;
}

section {
	float: right;
	width: 70%;
	height: 90vh;
	background-color: rgb(125, 250, 250);
	text-align: center;
	padding: 0.073% 0 0 0;
}

aside {
	float: right;
	width: 15%;
	height: 300px;
	background-color: white;
	text-align: center;
	padding: 0.073% 0 0 0;
}

footer {
	clear: both;
	width: 100%;
	height: 100px;
	background-color: black;
	text-align: center;
}

.footerfont {
	color: aliceblue;
}
.mypage{
    display: flex;
    align-items: stretch;
}
div.pagelist{
    display: flex;
    flex-wrap: wrap;
	flex-direction: column;
    background-color: white;
    flex-shrink: 0;
	border-right: solid 1px thistle;
	align-items:  center;
}

div.pagedetail{
    display: flex;
    flex-grow: 1;
	flex-direction: column;
    background-color: white;
	color:black;
	text-align: left;
	font-family: 'Black Han Sans', sans-serif;
}

a.userpage{
	margin: 10px;
	padding: 10px;
	font-size: 20px;
	width: 150px;
	text-decoration: none;
	color:darkblue;
	text-align: center;
	font-family: 'Black Han Sans', sans-serif;
}
.mydetail{
	font-size: 20px;
	margin: 50px;
}

input[type="submit"]:hover, select:hover {
    background-color: grey;
	width: AUTO;
}
input[type="button"][type="submit"] {
    width: 50px;
	background-color: aquamarine;
}

 input, select {
   background-color: ghostwhite;
    margin: 10px;
    border: solid 1px lightblue;
}

input[type="text"] {
    width: 180px;
}

article {
	width: 99%;
	height: 20%;
	background-color: grey;
	border: solid 2px grey;
	border-radius: 12px;
	/* 여백 주기 */
	margin: 1px
}